*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-top: 20px;
    background-color: lightgray;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
}
ul{
    margin-left: 60px;

}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
}
ul li a:hover{
    color:rgb(4, 101, 245)
}
.h11 h1{
    margin-top: 20px;
    color: #333;
    text-align: center;
    font-size: 60px;
}
.h22 h2{
    margin-top: 0%;
    color: #333;
    text-align: center;
    font-size: 45px;
}
h1
{
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
}
h2
{
    margin-top: 0%;
    text-align: center;
    font-size: 45px;
}
h3{
    font-size: 20px;
    color: #333;
}
.box{
    margin-top: 10px;
    margin-right: 80px;
}
.box1{
    margin-left:5 px;
}
.box2{
    margin-left: 14px;
}
.box3{
    margin-left: -2px;
}
.box4{
    margin-left: 40px;
}
.box5{
    margin-left: 102px;
}
.box6{
    margin-left: 114px;
}
.box7{
    margin-left: 86px;
}
.box8{
    margin-left: 142px;
}
.box9{
    margin-left: 102px;
}



.Next
{
    background-color: rgba(221, 221, 221, 0.705);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 15;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 16px;
}

.Next:hover
{
    color:rgb(4, 101, 245)
}
.ac{
    margin-right: 60px;
}


/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    .nav
    {
        width: 100%;
        height: 80px;
        float: left;
        background-color: whitesmoke;
    }
    
    ul
    {
        float: left;
        padding: 0px;
        margin-left: 0px;
    }
    
    .ul li{
        list-style: none;
        display: block;
        line-height: 80px;
        padding: 0 20px;
    }
    ul li a{
        display: block;
        text-decoration: none;
        font-size: 8px;
        padding: -20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;   
    }
    .h11 h1{
        margin-top: 20px;
        color: #333;
        text-align: center;
        font-size: 44px;
    }
    .h22 h2{
        margin-top: 0%;
        color: #333;
        text-align: center;
        font-size: 20px;
    }
    h3{
        font-size: 18px;
        color: #333;   
    }
    .box{
        margin-top: -5px;
        margin-left: 30px;
    }

    .box1{
        margin-left: -2px;
    }

    .box2{
        margin-left: 4px;
    }

    .box3{
        margin-left: 18px;
    }

    .box4{
        margin-left: -22px;
    }
    
    .box5{
        margin-left: 50px;
    }
    .box .a{
        margin-top: 10px;
        margin-left: 46px;
    }
    
    .box6{
        margin-left: 54px;
    }

    .box6 .b{
        margin-top: 10px;
        margin-left: 44px;
    }

    .box7{
        margin-left: 64px;
    }

    .box7 .c{
        margin-top: 10px;
        margin-left: 36px;
    }

    .box8{
        margin-left: 46px;
    }

    .box8 .d{
        margin-top: 10px;
        margin-left: 52px;
    }

    .box9{
        margin-left: 46px;
    }

    .box9 .e{
        margin-top: 10px;
        margin-left: 50px;
    }

    .Next{
        margin-left: 74px;
    }

    .ac{
        margin-left: 60px;
    }


  

    }

    