.navbar-toggler-icon{
    margin-left: auto;
}
.navbar-brand{
    margin-left: 16px;
}
li{
    padding-left: 14px;
}
@media screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
 

    }