.navbar-toggler-icon{
    margin-left: auto;
}
.navbar-brand{
    margin-left: 16px;
}
li{
    padding-left: 14px;
}
fieldset{
  border: black;
    width: 800px;
    height: 380px;
}
fieldset legend{
    padding-bottom: 12px;
    padding-top: 12px;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .text-sm-center{
        text-align: center;
    }
    fieldset{
        border: black;
        width: 340px;
        margin-left: 12px;
        
      }
      fieldset legend{
          margin-top: -40px;
          padding-bottom: -16px;
          padding-top: -16px;
      }
    .box{
        margin-left: 0px;
    }
   

    }

