.navbar-toggler-icon{
    margin-left: auto;
}
.navbar-brand{
    margin-left: 16px;
}
li{
    padding-left: 14px;
}
.navbar{
    height: 75px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .text-sm-center{
        text-align: center;
    }

    .navbar{
        height: 75px;
        font-size: 20px;
    }
    }

