*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 20px;
    background-color: lightgray;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar-toggler-icon{
    margin-left: auto;
}
.navbar-brand{
    margin-left: 16px;
}
li{
    padding-left: 14px;
}
label{
    margin-left: 12px;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .text-sm-center{
        text-align: center;
    }
    .box{
        text-align: center;
    }
}

.homesign img{
    max-width: 100%;
    margin: 0 auto;
}

.homesign .pr-0{
    padding-right: 0 !important;
}

.homesign .border-right-1{
    border-right: 1px solid black;
}

.homesign .top5 {
    border-right: 1px solid black;
    padding: 8px;
    padding-top: 0;
}

.homesign li {
    margin-bottom: 8px;
}

.homesign a {
    font-size: 26px;
}

.homesign .xbox{
    margin-top: 32px;
}

.navbar{
    height: 75px;
    font-size: 20px;
}