*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 20px;
    background-color: lightgray;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav
{
    width: 100%;
    height: 80px;
    background-color:whitesmoke;
}

ul
{
    margin-left: 60px;

}

ul li
{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

ul li a
{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
}

ul li a:hover
{
    color:rgb(4, 101, 245)
}*/
.hello{
    font-size: 22px;
    font-weight: bold;
}

.out:hover{
    color: red;
}
.h11 h1
{
    margin-top: 20px;
    color: #333;
    text-align: center;
    font-size: 60px;
}
.h22 h2
{
    margin-top: 0%;
    color: #333;
    text-align: center;
    font-size: 45px;
}
h1
{
    margin-top: 20px;
    color: #333;
    text-align: center;
    font-size: 60px;
}

h2
{
    margin-top: 0%;
    color: #333;
    text-align: center;
    font-size: 45px;
}

.top5{
   padding-left: 70px;
   padding-top: 24px;
   padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 25px;
    width: 370px;
    height: 576px;
    background-color: whitesmoke;
    font-size: 36px;
}
.top{
    padding-left: 30px;
}

.box1{
    margin-top: -596px;
    margin-left: 430px;
    background-color: whitesmoke;
    width: 1060px;
    height: 576px;
    font-size: 36px;
    padding-left: 54px;
}
.box1 p{
    color: red;
}
.alla{
    padding-left: 40px;
}
.box2{
    background-color: whitesmoke;
    width: 380px;
    height: 576px;
    margin-left: 1510px;
    margin-top: -576px;
}

.hhh{
    padding-top: 10px;
    padding-bottom: 10px;
}
ol li a:hover{
    color:rgb(4, 101, 245)
}
.coca{
    margin-top: 30px;
    margin-left: -56px;
    width: 340px;
    height: 170px;   
}
.bmw{
    padding-top: 60px;
    padding-bottom:30px;
    margin-left: 104px;   
}
.xbox{
    width: 350px;
    height: 350;
    padding-top: 60px;
    padding-bottom:30px;
    margin-left: 16px;  
}




/* Media Queries: Tabled Portrait */
/*@media screen and (max-width: 768px) {*/
/*head*/
/*.nav
{
    width: 100%;
    height: 80px;
    float: left;
    background-color: whitesmoke;
}

ul
{
    float: left;
    padding: 0px;
    margin-left: 0px;
}

.ul li{
    list-style: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 4px;
    padding: -20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;   
}
.h11 h1{
    margin-top: 20px;
    color: #333;
    text-align: center;
    font-size: 44px;
}
.h22 h2{
    margin-top: 0%;
    color: #333;
    text-align: center;
    font-size: 24px;
}*/

/*body*/
.top5{
    padding-left: 28px;
    padding-top: 24px;
    padding-bottom: 30px;
     margin-top:16px;
     margin-left: 10px;
     width: 180px;
     height: 320px;
     font-size: 16px;
}
.top{
    font-size: 16px;
    margin-right: 36px;
    padding-right: 6px;
    padding-bottom: 8px;
}
.coca{
    margin-top: 10px;
    margin-left: -18px;
    width: 160px;
    height: 120px;   
}
.box1{
    
    margin-top: -340px;
    margin-left: 200px;
    padding-left: 20px;
    background-color: whitesmoke;
    width: 160px;
    height: 320px;
    font-size: 14px;
}

.hhh{
    font-size: 12px;
    font-weight: bold;
    margin-right: 26px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.box2{
    background-color: whitesmoke;
    width: 110px;
    height: 320px;
    margin-left: 378px;
    margin-top: -320px;
}

.bmw{
    padding-top: 60px;
    padding-bottom:30px;
    margin-left: 4px;
    width: 100px;
    height: 130px;   
}
.xbox{
    width: 90px;
    height: 190;
    padding-top: 60px;
    padding-bottom:30px;
    margin-left: 10px;  
}








.navbar-toggler-icon{
    margin-left: auto;
}
.navbar-brand{
    margin-left: 16px;
}
li{
    padding-left: 14px;
}
label{
    margin-left: 12px;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .text-sm-center{
        text-align: center;
    }
    .box{
        text-align: center;
    }

    }

